a {
    text-decoration: none;
    color: black;
}

header.logo>div.menu-left>img {
    width: 10%;
    height: 10%;
    border-radius: 20%;
    padding: 10px;
}

header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-image: linear-gradient(#ddf2fc, white);
    align-items: center;
    top: 0px;
    border-bottom: solid 1px #45d8f5;
    z-index: 1;
}

header.logo {
    width: 100%;
    text-transform: uppercase;
    /* text-overflow: clip; */
    /* font-weight: 30px;
    font-size: 30px; */
    color: white;
    height: 70px;
}

header.logo>div.menu-left {
    display: flex;
    /* justify-content: center; */
    /* background-color: darkgray; */
    align-items: center;
}

header.logo>div.menu-left>ul.menu {
    display: flex;
    list-style: none;
    /* align-items: center; */
    /* justify-content: center; */
}

header.logo>div.menu-left>ul.menu>li {
    /* padding: 10px 10px; */
    /* border-right: 1px solid #fff; */
    /* border-radius: 10px; */
    /* background-color: darkgray; */
    margin-right: 30px;
    margin-left: -40px;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}

header.logo>div.menu-left>ul.menu>li>ul {
    position: absolute;
    background-color: darkolivegreen;
    list-style: none;
    top: 78px;
    width: 150px;
    display: block;
}

header.logo>div.menu-left>ul.menu>li>a {
    /* width: 110px; */
    font-weight: bold;
    color: black;
}

header.logo>div.menu-left>ul.menu>li {
    width: 110px;
}

header.logo>div.menu-left>ul.menu>li:hover>a {
    background-color: aqua;
    border-radius: 5px;
    /* color: #333; */
    /* font-weight: 700; */
    /* letter-spacing: .235px; */
    /* margin: 16px 10px; */
    padding: 10px;
    text-decoration: none;
}

header.logo>div.menu-left>ul.menu>li:hover>.navbar__item__dropdown-menu {
    display: block;
}

.navbar__item__dropdown-menu {
    /* -webkit-animation: fadein .4s; */
    /* animation: fadein .4s; */
    border-radius: 10px;
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%); */
    display: none;
    height: auto;
    width: 330px;
    margin-top: -15px;
    /* opacity: 0; */
    /* overflow: hidden; */
    /* perspective: 1000px; */
    position: absolute;
    top: 100%;
    /* font-weight: bold; */
    /* z-index: 2; */
}

.navbar__item__dropdown-menu .navbar-menu {
    background: #fff;
    /* display: block; */
    /* margin: 0; */
    padding: 16px;
    /* width: auto; */
}

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item {
    background: #fafafa;
    border-radius: 0.25rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    /* min-width: 100%; */
    /* overflow: hidden; */
    width: 300px;
    text-align: left;
}


/* .nav>li {
    position: relative;
    display: block;
} */

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item a {
    /* color: #000; */
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 14px;
    padding-top: 14px;
    font-size: 10px;
    /* background-color: #edfff5; */
}

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item a:hover {
    /* color: #000; */
    color: #00b14f
        /* background-color: #edfff5; */
}

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item a #icon1 {
    color: #00b14f;
}


/* .nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
} */

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item .text-sm .label-primary {
    background-color: #45d8f5;
}

.navbar__item__dropdown-menu .navbar-menu .navbar-menu__item .text-sm .label-new {
    background-color: red;
}

header.logo>div.menu_right {
    display: flex;
    list-style: none;
    align-items: center;
}

header.logo>div.menu_right>ul.menu {
    display: flex;
    list-style: none;
    text-align: center;
}

header.logo>div.menu_right>ul.menu>li {
    margin-right: 30px;
    /* margin-left: -10px; */
    margin-top: 15px;
    font-size: 12px;
    padding: 17px 25px 17px 25px;
    margin-top: 9px;
}

header.logo>div.menu_right>ul.menu>li {
    border-radius: 10px;
    /* border: solid 1px #eee; */
    background: #00d4d8;
}

header.logo>div.menu_right>ul.menu>li>a {
    font-weight: bold;
    color: white;
}

header.logo>div.menu_right>ul.menu>li:hover {
    background-color: #28f5f9;
}

header.logo>div.menu_right>ul.menu>li:hover>a {
    /* color: #333; */
    text-decoration: none;
}

#upload{
    border: none;
    border-radius: 8px;
    font-weight: bold;
    width: 125px;
    height: 55px;
    color: white;
    background-color: #00d4d8;
    font-size: 16px;
}
#dangxuat{
    border:none;
    background:#00d4d8;
    font-weight: bold;
}
.khung3 {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #edfff5;
}

.khung3 .khung3-1 {

    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;

    border-radius: 4px;

}

.khung3 .khung3-1 .container {
    max-width: 1100px;
    min-width: 750px;
    padding-left: 0;
    padding-right: 0;
    width: 96%;
    margin-left: 40px;
}

.khung3 .khung3-1 .container .nav {
    display: flex;
    justify-content: flex-start;
}

.khung3 .khung3-1 .container .nav .nav-item {
    display: flex;
    margin-right: 10px;

}

.khung3 .khung3-1 .container .nav .nav-item i {

    margin-top: 12px;
}

.khung3 .khung3-1 .container .breadcrumb-heading {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 0px;
    /* margin: 0; */
}

.khung3 .khung3-1 .container .heading-meta-description {
    color: #888;
    font-size: .9em;
    margin-bottom: 0;
    margin-top: 4px;
    padding-left: 15px;
}

.khung3 .khung3-2 {

    max-width: 900px;
    margin-right: auto;
    margin-left: 45px;

}

.khung3 .khung3-2 .search-advanced {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-gap: -10px; */
    /* padding: 30px; */
}

.khung3 .khung3-2 .search-advanced .wrapper {
    width: 200px;
    margin-left: 10px;

}

.khung3 .khung3-2 .search-advanced .wrapper .select-btn {

    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 7px;
}

.khung3 .khung3-2 .search-advanced .wrapper .select-btn:hover {
    border: 1px solid #45d8f5;
}

.khung3 .khung3-2 .search-advanced .wrapper .select-btn i {

    font-size: 15px;
    transition: transform 0.3s linear;
}

.khung3 .khung3-2 .search-advanced .wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.khung3 .khung3-2 .search-advanced .wrapper .content {
    display: none;
    background: #fff;
    padding: 10px;
    border-radius: 7px;
}

.khung3 .khung3-2 .search-advanced .wrapper.active .content {
    display: block;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .search {

    display: flex;
    justify-content: space-around;

    /* padding: 7px; */

}

.khung3 .khung3-2 .search-advanced .wrapper .content .search input {

    border-radius: 7px;
    padding-left: 25px;
    border: 1px solid darkgray;
    width: 180px;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .search i {

    position: absolute;
    left: 145px;
    line-height: 1.8;

}

main>div.khung1>div.khung1-1>div.logo>div {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* top: 0px; */
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options {

    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li {

    list-style: none;
    margin-left: -40px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar {
    width: 10px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar-track {
    background: #e5fff1;
    border-radius: 25px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li:hover,
li.selected {

    background-color: rgb(233, 230, 230);

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li:hover {

    /* padding-right: 20px; */
    width: 160px;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options {

    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li {

    list-style: none;
    margin-left: -40px;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar {
    width: 10px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar-track {
    background: #e5fff1;
    border-radius: 25px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li:hover,
li.selected {

    background-color: rgb(233, 230, 230);

}

.khung3 .khung3-2 .search-advanced .wrapper .content .options li:hover {

    /* padding-right: 20px; */
    width: 160px;

}

.khung3 .khung3-3 .khung3-3-1 {
    /* width: 900px; */
    border-radius: 6px;
    background-color: white;
    padding-left: 10px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 55px;
    margin-top: 10px;
}

.khung3 .khung3-3 .khung3-3-1 span b {

    color: #00b14f
}

.khung3 .khung3-3 .khung3-3-2 {

    border-radius: 6px;
    background-color: white;
    /* padding-left: 10px; */
    /* padding-right: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 55px;
    margin-top: 5px;


}

.khung3 .khung3-3 .khung3-3-2 .show-important {
    display: flex;
    justify-content: flex-start;
}

.khung3 .khung3-3 .khung3-3-2 .show-important .spans {
    margin-left: 10px;
    color: rgb(230, 230, 230);
}

.khung3 .khung3-3 .khung3-3-2 .show-important .option-item-sort {
    margin-left: 50px;
}

.khung3 .khung3-3 .khung3-3-2 .show-important .option-item-sort i {
    margin-right: 10px;
    color: white;
    /* background: #00b14f; */
    border-radius: 100%;
    border: 1px solid darkgrey;
}

.khung3 .khung3-3 .khung3-3-2 .show-important .option-item-sort i:hover {

    /* width: 30px;
    height: 30px; */
    color: #00b14f;
    border: 1px solid transparent;
    background-color: transparent;
    /* border: none; */

}

.khung3 .khung3-3 .khung3-3-3 {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 55px;
    border-radius: 6px;
    display: flex;

}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-1 {

    width: 75%;

}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 {

    width: 25%;

    padding: 10px;
    /* background-color: darkblue; */

}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .title-spotlight {
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
    text-align: left;
    text-transform: inherit;
    width: 300px;
}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company {
    background: #fff 0 0 no-repeat padding-box;
    border: 1px solid #eee;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 20px;
    width: 250px;


}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company .spotlight-info {
    color: #333;
    font-weight: bold;
    /* margin: inherit; */
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    width: 250px;
}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company .job {
    border-top: 1px solid darkgrey;
    padding: 15px;
}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company .job .job-name {
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 210px;
}

.d-flex {
    display: flex !important;
    justify-content: space-between;
}

.d-flex .logo i {
    color: #00b14f;
}
.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company .spotlight-count{
    padding: 9px;
    /* width: 400px; */
    align-items: center;
}
.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .spotlight-company .spotlight-count a{
   
    color: white;
    font-family: bold;
    background: #45d8f5;
    padding: 15px 60px 15px 60px;
    /* width: 300px; */
}
.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .image {

    /* padding:5px; */
    /* overflow: hidden; */
    /* width: 100%; */
}

.khung3 .khung3-3 .khung3-3-3 .khung3-3-3-2 .right-box .interested .image a img {
    /* height: 314.58px;
    max-height: 100%;
    max-width: 100%;
    width: 547px; */
    margin-top: 10px;
    width: 250px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 5px;
}
.khung3-3-3-1 .lists{
    /* padding: 7px; */
}
.khung3-3-3-1 .lists .job-item{
    border: 2px solid #f2fbf6;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
    background-color: #caf0f8;
}
.khung3-3-3-1 .lists .job-item .body{
   display: flex;
   justify-content: space-between;
}
.khung3-3-3-1 .lists .job-item .body button{
    border: none;
    border-radius: 8px;
    font-weight: bold;
    width: 125px;
    height: 55px;
    color: white;
    background-color: #00d4d8;
    font-size: 16px;
 }
 .khung3-3-3-1 .lists .job-item .body button i{
   margin-right: 8px;
 }
.khung3-3-3-1 .lists .job-item .body .thong-tin .anh-content{
    
    display: flex;
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .anh-content .anh-icon{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    /* padding: 4px; */
    border: 1px solid darkgrey;
    margin-top: 20px;
    margin-right: 20px;
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .anh-content .anh-icon img{
     
    width: 48px;
    height: 48px;
    border-radius: 7px;
    margin: auto;
    
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .anh-content .content h3{
    font-weight: bold;
    font-size: 20px;
    color: #0077b6;
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .anh-content .content h4{
    /* font-weight: bold; */
    font-size: 15px;
    color: #34b3f8;
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .label-content{
    display: flex;
    justify-content: flex-start;
}
.khung3-3-3-1 .lists .job-item .body .thong-tin .label-content p{
   margin-right: 20px;
   font-weight: bold;
   background: #0077b6;
   padding: 3px 10px 3px 10px;
   border-radius: 10px;
   color: white;
}
.timkiem {
    background-color: #caf0f8;
    padding: 80px 100px 10px 100px;
}

.timkiem .khung2 {}

.timkiem .khung2 .khung2-1 {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: auto;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 {

    display: flex;
    justify-content: space-around;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 input {
    border-radius: 7px;
    border: 1px solid rgb(230, 224, 224);
    padding-left: 10px;
    width: 210px;
    height: 50px;
    /* overflow: hidden; */
    /* white-space: nowrap; */
    text-overflow: ellipsis;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 button {
    border: none;
    background-color: #00d4d8;
    width: 120px;
    height: 50px;
    color: white;
    border-radius: 7px;
    padding-top: 10px;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 button div.text-button {
    color: white;
    border-radius: 7px;
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content: space-around;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 button:hover {
    background-color: #0bedf1;
    border: 1px solid #0eedf0;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 button div.text-button i {
    margin-top: 3px;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced {
    display: flex;
    justify-content: space-between;
    /* width: 500px; */
}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper {
    background-color: white;
    border-radius: 7px;
    height: 50px;
    width: 200px;
    margin-right: 10px;
    z-index: 0;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper:hover {

    border: 1px solid #00b14f;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .select-btn {

    text-align: center;
    margin-top: 16px;
    /* margin-left: 10px; */
    /* display: flex; */
    /* justify-content: center; */


}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .select-btn i {

    /* font-size: 15px; */
    transition: transform 0.3s linear;
    color: #00b14f;
}



.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper.active .select-btn i {

    transform: rotate(-180deg);
}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content {

    background-color: white;
    border-radius: 7px;
    /* height: 50px; */
    /* height: auto; */
    margin-top: 16px;
    display: none;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper.active .content {
    display: block;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .search input {

    /* display:flex; */
    height: 30px;
    width: 190px;
    margin-top: 5px;
    /* margin: center; */
    /* margin-top: 10px; */

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .search {

    /* margin-top: 20px; */
    margin-left: 5px;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options li {
    margin-left: -10px;
    width: 165px;
    /* margin-bottom: 10px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    padding-top: 5px;
    /* background-color: darkgrey;
    border-radius: 7px; */

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options li:hover {
    background-color: darkgrey;
    border-radius: 7px;

}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options li.selected {

    background-color: rgb(233, 230, 230);


}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options {
    margin-top: 20px;
    list-style: none;
    margin-left: -20px;
    overflow-y: auto;
    max-height: 100px;
    margin-top: 10px;
}


.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options::-webkit-scrollbar {
    width: 10px;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options::-webkit-scrollbar-track {
    background: #e5fff1;
    border-radius: 25px;
}

.timkiem .khung2 .khung2-1 .khung2-1-1 .search-advanced .wrapper .content .options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.khung4 {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    /* padding-bottom: 30px; */
}

.khung4 .keyword-box .title-box {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 24px;
}

.khung4 .keyword-box .row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.khung4 .keyword-box .row .box-seo .title {
    background: #f2fbf6 0 0 no-repeat padding-box;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    margin: 0 3px;
    padding: 24px 24px 15px;
    text-transform: capitalize;
}

.khung4 .keyword-box .row .box-seo .seo-content {
    background: #f2fbf6 0 0 no-repeat padding-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 250px;
    margin: 3px;
    margin-top: inherit;
    overflow-y: scroll;
    padding: 5px;
}

.khung4 .keyword-box .row .box-seo .seo-content::-webkit-scrollbar {
    width: 10px;
}

.khung4 .keyword-box .row .box-seo .seo-content::-webkit-scrollbar-track {
    background: #e5fff1;
    border-radius: 25px;
}

.khung4 .keyword-box .row .box-seo .seo-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.khung4 .keyword-box .row .box-seo .list-item {
    border: none;
    display: block;
    padding: 2.5px 0 2.5px 12px;
}

.khung7 {
    background-color: #f5f5f5;
    padding-bottom: 32px;
    padding-top: 32px;
    font-size: 12px;
    margin-top: 150px;

}

.khung7-1 {
    padding: 50px;
}

.khung7-1 .container {
    min-width: 750px;
    padding-left: 0;
    padding-right: 0;
    width: 96%;
}

.khung7-1 .container a {
    color: #666;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    margin: 2px 0;
    padding: 0 5px;
}

.khung8 {
    margin-top: 50px;
}

.khung8-1 {
    padding: 10px;
}

.khung8-1 .container .col-md-3 ul {
    list-style: none;
    padding-left: 0;
}

.khung8-1 .container .col-md-3 ul .box-menu-item {
    margin-bottom: 30px;
}

.khung8-1 .container .col-md-3 .box-menu-item .title {
    color: #000;
    font-weight: 700;
    margin-bottom: 14px;
    list-style: none;
    padding-left: 0;
}

.khung8-1 .container .col-md-3 .box-menu-item .box-menu-child ul {
    line-height: 26px;
    list-style: none;
    padding-left: 0;
}

.khung9 {
    margin-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(67deg, #e5fff1, #f5f2ff);
}

.khung9-1 {
    display: flex;
    justify-content: space-between;
}

.khung9-1 .box-conten {
    padding: 30px;
}

.khung9-1 .box-image {
    display: flex;
    text-align: right;
    justify-content: space-between;
    padding: 30px;
}

.khung9-1 .box-image a {
    margin-right: 10px;
}

.khung9-1 .box-image a img {
    width: 140px;
}